<div class="detailComponent"> 
  <span class="status"  [ngClass]="{ 'checked-in': detail.checkedIn }"> </span>

  <span *ngIf="editing"> 
    <!-- [property binding]: read data from subcomponent and display it on template --> 
    <!-- #ref variable: reference to a DOM-Node --> 
    <!-- (event): write data from the template into the subcomponent --> 
    <input type="text"  
          [value]="detail.fullname" 
          #name  
          (input)="onNameChange(name.value)"> 
  </span>

  <div *ngIf="!editing">
    Name: {{ detail.fullname }} 
  </div>

  <div>
    Check-in Date: {{ detail.checkedIn ? 
    (detail.checkInDate | date: 'y MMMM d' | uppercase) : '...Not checked in...' }}  
  </div>

  <div>
    Children: {{ detail.children?.length || 0 }}
  </div>

  <button  (click)="toggleEdit()"> 
    {{ editing ? 'Done' : 'Edit' }} 
  </button> 
   
  <button  (click)="onRemove()">
    Remove
  </button>
</div>
