<div class="viewerComponent"> 
  <h2 style="color: blue"> - Template-driven Forms, Inputs and Validation - </h2>
  <div>
    <!-- Passing data from the container (parent) into the (sub)component (child) 
          with [property] binding and @Input -->
    <!-- Passing data from the (sub)component (child) into the container (parent) with              with (event) binding and @Output --> 
    <passenger-form  [detail]="passenger"
                      (update)="onUpdatePassenger($event)">
      ...Subcomponent...
    </passenger-form>
  </div>
</div>