<div class="formComponent">
  <form  #form="ngForm"  novalidate
        (ngSubmit)="handleSubmit(form.value, form.valid)">
    <!-- we use #form="ngForm" to get access to the form created by Angular (not HTML) --> 
    <!-- we use (ngSubmit) in the form HTML element instead of (onSubmit) on the button, in order to override the default behavior of HTML -->
    <div>
      Original Passenger Data:  
    </div>
    {{ detail | json }}

    <div>
      Passenger name: 
      <!-- we use 'ngModel' (alone, without a #ref vaiable) to tell Angular that this particular input is actually a control of my form. 
      With a #ref variable and "ngModell" combined together, we get access to this particular input of our form.
      With '[ngModell]' we use property binding, to display the content of a variable. We can use this for example to display a default option from a drop-down list. 
      With '[(ngModell)]' we use 2 way binding, if we need to... -->
      <!-- we can use 'ngModelGroup' to group several inputs together --> 
      <input type="text" name="fullname"  
      [ngModel]="detail?.fullname"  #fullname="ngModel"  required>
      {{ fullname.value }} <br>
      <!-- 'dirty': validate only AFTER the User has interacted with the form -->  
      <div  *ngIf="fullname.errors?.required && fullname.dirty"  class="error">
        Passenger name is required (Errors): {{ fullname.errors | json }} 
      </div>
    </div>

    <div>
      Passenger ID: 
      <!-- we can also use the directive 'email' next to 'required' to validate an E-Mail address --> 
      <!-- Additionally, you might also want to enable HTML5 validation (by default, Angular disables it). You can do so by adding the 'ngNativeValidate' to a control in your template -->
      <input type="number" name="id"  
      [ngModel]="detail?.id"  #id="ngModel"  required  minlength="1">
      {{ id.value }} <br>
      <!-- 'touched': validate only if the User has clicked on the input and then left the input, without typing anything --> 
      <div  *ngIf="(id.errors?.required || id.errors?.minlength) && id.touched"  class="error">
        Passenger ID is invalid (Errors): {{ id.errors | json }} 
      </div>
    </div> 

    <!-- Radio Buttons... -->
    <!--
    <div>
      Checked in: 
      <label>
        <input type="radio" name="checkedIn" [value]="true"  
        [ngModel]="detail?.checkedIn"  (ngModelChange)="toggleCheckIn($event)"> Yes
      </label>
      <label>
        <input type="radio" name="checkedIn" [value]="false"  
        [ngModel]="detail?.checkedIn"  (ngModelChange)="toggleCheckIn($event)"> No
      </label>
    </div> 
    -->
    <div *ngFor="let gender of genders">
      <label>
        <input 
          type="radio"
          name="gender"
          ngModel
          [value]="gender"> 
          {{ gender }}
      </label>
    </div>

    <div>
      Checked in: 
      <label>
        <input type="checkbox" name="checkedIn"   
        [ngModel]="detail?.checkedIn"  (ngModelChange)="toggleCheckIn($event)"> 
      </label> 
    </div>

    <!-- *ngIf="detail?.checkedIn" is not correct! That's the original value. 
          We need the actual form value... --> 
    <div  *ngIf="form.value.checkedIn"  ngModelGroup="myGroup"> 
      Check in date: 
      <input type="number" name="checkInDate"  [ngModel]="detail?.checkInDate">
      <button type="button" (click)="getCurrentTS()">
        Get current Timestamp
      </button>
    </div>

    <!-- Den douleuei swsta! Des to diko tou paradeigma... --> 
    <div>
      Children: 
      <select name="children"  [ngModel]="detail?.children">  
        <option [value]="detail?.children[0]"> 
          {{ detail?.children[0]?.name }}      
        </option>
      </select>
    </div>

    <div>
      Template / Form generated Passenger Data: <br>
      {{ form.value | json }}
    </div>

    <div>
      Valid: {{ form.valid | json }} <br>
      Invalid: {{ form.invalid | json }}
    </div>

    <!-- Additionally to 'disabled', we might also want to style the invalid input of the form. We can do this, by adding in our css-file the css-class 'input.ng-invalid.ng-touched' for example and define a ref border for this class -->
    <button type="submit"  [disabled]="form.invalid"> 
      Update passenger 
    </button>  
    &nbsp;
    <button type="button" (click)="resetForm()">
      Reset
    </button>
  </form>
</div>