<div class="app"> 
	<h1> Rendering AppModule => App-root component... </h1>
	<p> Hello... {{ title }} !</p>
	<div>
		<h2> - Interpolation & expressions - </h2>
		{{ Num1 + 2 + '!' }} {{ isHappy ? ';)' : ':(' }}
	</div>
	<div>
		<h2> - [Property] (One way) binding: [Component => Template] / read - </h2>
		<span> {{ title }} </span> 
    <span [innerHTML]="title"> </span> 
    <div>
      <input type="text"   value=""          placeholder="Input field">
      <input type="text"  [value]=inputText  placeholder="Input field">
      <div> You entered: {{inputText}} </div>
    </div>
  </div>
  <div>
    <h2> - (Event) binding: [Template => Component] / write - <br> 
        - & [Property] binding: [Component => Template] / read - </h2> 
    <input type="text"  [value]=eventInputText  
           (input)="handleInput($event)" placeholder="Input field"
           (focus)="this.eventInputText=''">
    <div> You entered: {{eventInputText}} </div>
    <button (click)="handleClickDelete()"> Delete Input </button>
  </div> 
  <div>
    <h2> - Two way binding (Read & Write) with ngModel - </h2> 
    <input type="text"  [ngModel]=inputText2  
           (ngModelChange)="handleChange($event)" placeholder="Input field"
           (focus)="this.inputText2=''">
    <div> You entered: {{inputText2}} </div> 
    <input type="text"  [(ngModel)]="inputText3"  
            placeholder="Input field"   (focus)="this.inputText3=''">
    <div> You entered: {{inputText3}} </div>
  </div> 
  <div>
    <h2> - Template #ref variables (Reference to a DOM-Node) - </h2> 
    <!-- we can use #ref variables only in the HTML-Template!!!
    If we want to use it in the TS-file, then we use @ViewChild --> 
    <input type="text"  #username  value="">    <!-- like an 'id' ... --> 
    <div> You entered: {{inputText4}} </div> 
    <button (click)="handleClickGet(username.value)"> Get Input </button>
  </div> 
  <div> 
    <h2> - ngIf (Directive) - </h2>
    <input type="text"  [value]="inputText2"  placeholder="Search"  
          (input)="handleChange($event.target.value)">
    <div *ngIf="inputText2.length > 2"> Searching for... {{inputText2}} </div> 
  </div>
  
  <!-- Subcomponent: container / smart component --> 
  <passenger-dashboard> ...This will be displayed (ngContent)... </passenger-dashboard>

  <br/>

  <!-- Subcomponent: container / smart component --> 
  <passenger-viewer> ...This won't be displayed... </passenger-viewer>

  <br>

  <h2> - Component Routing - </h2> 
  <app-home> ...This won't be displayed... </app-home> 
  <not-found> ...This won't be displayed... </not-found> <br>
  <div>
    <!-- hard coded links --> 
    <nav class="nav">
      <!-- We don't use <a href="/"> to avoid to refresh the page by clicking a link --> 
      <a routerLink="/"  
      routerLinkActive="active"     
      [routerLinkActiveOptions]="{ exact: true }"> 
        Home 
      </a>
      <!--<a routerLink="/oops" -->
      <a [routerLink]="['/users', 10, 'Anna']" [queryParams]="{param1: true}" fragment="TestString"
      routerLinkActive="active"> 
        404 
      <!-- "/oops": absolute path. "oops": relative path. We can also use "../oops".--> 
      <!-- We use routerLinkActive="active" and "exact" to style the current active link -->
      <!-- <a [routerLink]="['/users', 10, 'Anna']"> ====> URL: DOMAIN/users/10/Anna  --> 
      <!-- With [queryParams]="{param1: true}" ====> URL: DOMAIN/users/10/Anna?param1=true  -->
      <!-- With fragment="TestString" ====> URL: DOMAIN/users/10/Anna?param1=true#TestString  -->
      </a>
      <!-- 'router-outlet' tells Angular, where to display the content of the currently selected component. There is only one in each Hierarchy... --> 
      <router-outlet> </router-outlet>  <!-- see Route assignment in 'app.module.ts' --> 
    </nav>  
    <!-- Dynamic navigation with ngFor -->
    <nav class="nav">
      <!-- Following works also with e.g. <a href=/passengers> but then we reload(!) the page --> 
      <a *ngFor="let item of nav"
      [routerLink]="item.link"  
      routerLinkActive="active"     
      [routerLinkActiveOptions]="{ exact: item.exact }"> 
        {{ item.name }}
      </a>
      <router-outlet> </router-outlet>  <!-- see Route assignment in 'app.module.ts' --> 
    </nav>
  </div>

  <reactive-form></reactive-form>

  <pipes></pipes>
</div>
