<div class="app"> 
	<h1> Rendering AppModule => App-root component... </h1>
	<p> Hello... {{ title }} !</p>
	<div>
		<h2> - Interpolation & expressions - </h2>
		{{ Num1 + 2 + '!' }} {{ isHappy ? ';)' : ':(' }}
	</div>
	<div>
		<h2> - Property (One way) binding: [Component => Template] - </h2>
		<span> {{ title }} </span> 
    <span [innerHTML]="title"> </span> 
    <div>
      <input type="text"   value=""          placeholder="Input field">
      <input type="text"  [value]=inputText  placeholder="Input field">
      <div> You entered: {{inputText}} </div>
    </div>
  </div>
  <div>
    <h2> - Event binding: [Template => Component] - </h2> 
    <input type="text"  [value]=eventInputText  
           (input)="handleInput($event)" placeholder="Input field"
           (focus)="this.eventInputText=''">
    <div> You entered: {{eventInputText}} </div>
    <button (click)="handleClickDelete()"> Delete Input </button>
  </div> 
  <div>
    <h2> - Two way binding (Read & Write) - </h2> 
    <input type="text"  [ngModel]=inputText2  
           (ngModelChange)="handleChange($event)" placeholder="Input field"
           (focus)="this.inputText2=''">
    <div> You entered: {{inputText2}} </div> 
    <input type="text"  [(ngModel)]=inputText3  
            placeholder="Input field"   (focus)="this.inputText3=''">
    <div> You entered: {{inputText3}} </div>
  </div> 
  <div>
    <h2> - Template #ref variables (Reference to a DOM-Node) - </h2> 
    <input type="text"  #username  value=""> 
    <div> You entered: {{inputText4}} </div> 
    <button (click)="handleClickGet(username.value)"> Get Input </button>
  </div> 
  <div> 
    <h2> - ngIf (Directive) - </h2>
    <input type="text"  [value]="inputText2"  placeholder="Search"  
          (input)="handleChange($event.target.value)">
    <div *ngIf="inputText2.length > 2"> Searching for... {{inputText2}} </div> 
  </div>
  
  <!-- Subcomponent: container / smart component --> 
  <passenger-dashboard> ...This won't be displayed... </passenger-dashboard>

  <br/>

  <!-- Subcomponent: container / smart component --> 
  <passenger-viewer> ...This won't be displayed... </passenger-viewer>

  <br>

  <h2> - Component Routing - </h2> 
  <app-home> ...This won't be displayed... </app-home> 
  <not-found> ...This won't be displayed... </not-found> <br>
  <div>
    <nav class="nav">
      <a routerLink="/"  
      routerLinkActive="active"     
      [routerLinkActiveOptions]="{ exact: true }"> 
        Home 
      </a>
      <a routerLink="/oops" 
      routerLinkActive="active"> 
        404 
      </a>
      <router-outlet> </router-outlet>  <!-- see Route assignment in 'app.module.ts' -->
    </nav>
  </div>
</div>
