<div class="dashboardComponent"> 
    <h2> - ngFor (Directive) & ngClass & ngStyle & Pipes & Safe navigation operator - </h2>
    <ul>
      <li *ngFor="let person of passengers; let i = index">    <!-- "For of" Loop --> 
        <!-- [class.classname]="condition" : Add a single class, if condition is true -->
        <span class="status"  [class.checked-in]="person.checkedIn"> </span>
        <!-- [ngClass]="{ 'classname1': condition1, 'classname2': condition2 }" : 
              Add multiple classes, if conditions are true -->
        <span class="status"  [ngClass]="{ 'checked-in': person.checkedIn }"> </span>
        <!-- [style.property]="condition" : Add a css style property, if condition is true --> 
        <span [style.color]="( person.checkedIn ? 'green' : 'red' )">
          #{{ i + 1 }} : id = {{ person.id }} , Name = {{ person.fullname }} 
        </span>
        <!-- [ngStyle]="{ 'property1': 'value1', 'property2': 'value2' }" : 
              Add multiple css style properties, optional with a condition -->
        <div [ngStyle]="{ color: ( person.checkedIn ? 'green' : 'red' ) }">
          Check-in Date: {{ person.checkedIn ? 
          (person.checkInDate | date: 'y MMMM d' | uppercase) : '...Not checked in...' }}  
        </div>
        <div class="children">
          <!-- Evaluates if (property)? is available and then goes on ... --> 
          # Children: {{ person.children?.length || 0 }} 
        </div>
        <div style="color: grey"> 
          <!-- useful for Debugging... --> 
          {{ person | json }} 
        </div>   
      </li>
    </ul> 
    <br>

    <h2 style="color: blue"> 
      - Component Architecture - <br>
      - Services, Http and Observables - 
    </h2> 
    <!-- Passing data from the container (parent) into the (sub)component (child) 
          with [property] binding and @Input --> 
    <passenger-count  [items]="passengers"> 
      ...Subcomponent... 
    </passenger-count>
    <div *ngFor="let person of passengers"> 
      {{ person.fullname }} 
    </div>
    
    <!-- Passing data from the container (parent) into the (sub)component (child) 
          with [property] binding and @Input -->
    <!-- Passing data from the (sub)component (child) into the container (parent) with              with (event) binding and @Output --> 
    <passenger-detail *ngFor="let person of passengers"  
                      [detail]="person"
                      (edit)="handleEdit($event)"
                      (remove)="handleRemove($event)"
                      (view)="handleView($event)"> 
      ...Subcomponent... 
    </passenger-detail>
</div>
